* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 830px;
  margin: 50px auto;
}
.product-title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(232, 232, 232, 0.538);
  padding: 15px;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}
.details-list li{
  margin-bottom: 10px;
}

/* ADD TO CARD */
.add-to-cart {
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  border-top: 4px solid #000;
  padding: 15px;
}
.add-to-cart:hover {
  color: #000;
  background-color: #fff;
}
