* {
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}
nav {
  font-size: 18px;
}
article {
  margin-bottom: 60px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  /* position: relative; */
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 60px;
  /* height: 80px; */
}
.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  /* display: inline; */
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:last-child {
  margin-bottom: 0;
}
/* footer p {
    font-size: 15px;
} */
/* article header p{
    font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
/* ul{
    list-style: none;
} */
.related {
  list-style: none;
}

/* Pseudo classess */
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
/* li:nth-child(odd){
    color: green;
}
li:nth-child(even){
    color: red;
} */

/* Misconception: this won't work */
article p:first-child {
  color: red;
}

/* Styling links :Link => Visited => Hover => Active (LVHA)*/
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orange;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}
button {
  font-size: 22px;
  cursor: pointer;
  padding: 20px;

  position: absolute;
  /* top: 50px;
  left: 50px; */

  bottom: 50px;
  right: 50px;
}

/* Pseudo Elements */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
/* p::first-line {
  color: red;
}
h3 + p::first-line {
  color: red;
} */
h2 {
  /* background-color: orange; */
  position: relative;
}
h2::after {
  content: "TOP";
  position: absolute;
  display: inline-block;
  color: #444;
  background-color: #ffe70e;
  font-size: 15px;
  font-weight: bold;
  top: -10px;
  right: -25px;
  padding: 5px 10px;
}

/* Resolving conflicts */
/* #copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green;
} */

/* Inheritance */
/* nav a:link, nav p{
  font-size: 18px;
} */

/* FLOATS */
.author-img {
  float: left;
  margin-bottom: 20px;
}
.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}
